Package: com.antique.luminous
Name: Luminous
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: Dark Snapchat for v10.24.5
Maintainer: Antique <boernai290@gmail.com>
Author: Antique <boernai290@gmail.com
Section: Tweaks
